# Virtual Environment
.venv/
venv/
env/

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Uploaded files
uploads/

# IDE specific files
.vscode/
.idea/
*.swp
*.swo

# Environment variables
.env

# System files
.DS_Store
Thumbs.db 